**/.git
**/.gitignore
**/.vs
**/.vscode
**/*.*user
**/*.*suo
**/*.*userosscache
**/bin
**/obj
**/node_modules
**/logs
**/.dockerignore
**/Dockerfile
**/docker-compose.yml
**/README.md
**/*.md
**/tests
**/.idea
**/*.sln.DotSettings.user

